In [ ]:
import pandas as pd
df= pd.read_csv('ad_click_dataset.csv')
df= df.drop_duplicates()
df= df.dropna()
df.to_csv('ad_clicks_dataset.csv',index=False)
df.head()

,id,full_name,age,gender,device_type,ad_position,browsing_history,time_of_day,click
17,188,User188,56.0,Female,Tablet,Bottom,News,Morning,1
25,4890,User4890,43.0,Male,Tablet,Bottom,Education,Afternoon,1
33,4985,User4985,37.0,Male,Mobile,Top,News,Evening,0
52,9888,User9888,49.0,Male,Mobile,Top,News,Morning,1
102,8201,User8201,59.0,Female,Desktop,Bottom,Social Media,Morning,0